body{
    font-family: 'Open Sans', sans-serif;
}
.navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.navigation__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navigation__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.navigation__image {
    width: 150px;
}
.navigation__navbar {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.navigation__navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navigation__navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navigation__navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navigation__nav-link {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px !important;
}